ed25519 jet unit tests

The ed25519 jets currently reference but do not utilize a more complete suite of test from Section 7.1 of RFC 8032.